
<h2>Product Details</h2>
Name:<%=@product["name"]%><br>
Price:<%=@product["price"]%><br>


<%= form_tag("http://localhost:3003/api/v1/line_items",method: :post) do %>
	
	<label>Quantity</label>
	<%= select_tag :quantity, options_for_select(1..10,1)%><br>
	<%= hidden_field_tag :product_id , @product["id"]%>
	<%= hidden_field_tag :user_id , current_user.id%>
	<%=submit_tag "Add to cart"%>
<%end%>